.main_chat
  .main_chat__header
    .main_chat__header--group
      .main_chat__header--group---name
        = @group.name
      .main_chat__header--group---member
        Member:
        - @member.each do |member|
          = member.name
    = link_to edit_group_path(@group), class: "main_chat__header--edit" do
      = "Edit"
  .main_chat__content
    = render @messages
.input-box
  .input-box__message
    = form_for [@group, @message] do |f|
      = f.text_field  :body, placeholder: 'type a message', class: "input-box__message--box"
      = f.label :image, class: "input-box__message--image" do
        = icon('fas', 'images')
        = f.file_field :image, class: "input-box__message--image___none"
      = f.submit 'Send', class: "input-box__send--box"