.side_bar
  .side_bar__header
    .side_bar__header--name
      = current_user.name
    = link_to "#", class: "side_bar__header--edit" do
      = icon('fas', 'edit')
    = link_to edit_user_path(current_user), class: "side-header__cog" do
      = icon('fas', 'cog')
  .side_bar__group
    .side_bar__group--contents
      .side_bar__group--contents___name
        test
      .side_bar__group--contents___message
        まだメッセージはありません
    .side_bar__group--contents
      .side_bar__group--contents___name
        test2
      .side_bar__group--contents___message
        まだメッセージはありません